###Python training session 1

_Aims_

*    Basic Python syntax
*    Introduction to the pandas data analysis package
     *    Dataframes
     *    Reading and writing Excel workbooks and csvs
     *    Basic summary statistics

####Python data primatives

#####Numbers

In [315]:
my_number = 1

In [316]:
print my_number

1

In [317]:
my_number

1

In [318]:
type(my_number) #Gives you 'int', which stands for 'integer'

int

In [319]:
type(2.1)

float

#####Strings

In [320]:
my_string_1 = 'hello'

#Note you can use " or ' for strings but ' is preferred
my_string_2 = "world"

In [321]:
#String concatenation
my_string_1 + ' ' + my_string_2

'hello world'

#####Lists (known in some other languages as arrays)

Note: You don't need to worry about their size in advance

In [322]:
my_list = [10,20,30,40,50,60]

In [323]:
my_list

[10, 20, 30, 40, 50, 60]

In [324]:
my_list[0]

10

In [325]:
#Note zero based indexing
my_list[2]

30

In [326]:
sum(my_list)

210

In [327]:
#List slicing
my_list[0:2]

[10, 20]

In [328]:
my_list[-1]

60

In [329]:
my_list[2:4]

[30, 40]

In [330]:
my_list[0:3:2]

[10, 30]

In [331]:
my_list = ['A', 'short', 'sentence.']
print ' '.join(my_list)
print ' - '.join(my_list)

A short sentence.
A - short - sentence.

In [332]:
'A short sentence.'.split(' ')

['A', 'short', 'sentence.']

In [333]:
#Note that strings function in a similar way to lists when you slice them:
"hello"[:4]
"backwards"[::-1]
"backwards"[::-2]

#You can explicitly convert them into a list
list('backwards')

['b', 'a', 'c', 'k', 'w', 'a', 'r', 'd', 's']

In [334]:
#Finally, there's something called a 'set' which can only contain one copy of each item:
set(['a','b','a'])

{'a', 'b'}

#####Dictionaries (hash tables)
Dictionaries provide a way of performing 'lookups', similar to a vlookup in Excel

Examples:  Mapping between LA codes and their text names.  Or categorising things - e.g. food into fruit and veg.

In [335]:
my_dictionary = {'key_1' : 'my_value_1',  
                 'key_2' : 'my_value_2'}

In [336]:
my_dictionary['key_1']

'my_value_1'

In [337]:
my_dictionary['key_3'] = 'my_value_3'

In [338]:
my_dictionary

{'key_1': 'my_value_1', 'key_2': 'my_value_2', 'key_3': 'my_value_3'}

#####Basic maths

In [339]:
4+4-1

7

In [340]:
2*4

8

In [341]:
5/2  #Watch out!

2

In [342]:
5.0/2

2.5

In [343]:
2**4

16

In [344]:
a = 10
b = 15
a+b

25

#####Exercises 1

In [9]:
#1.  Create a list containing the positive integers between 1 and 20.  
#Assign it to a variable called 'my_list' and then sum it.  
#Can you find a better way to create it than typing it out?

my_list = range(1,21)

In [14]:
#2.  
#a. Slice the list you've just created, taking the first 10 elements
#b. Slice the list taking the last 10 elements
#c. Find the last element in the list
#d. Sum the elements in the list

#my_list[:10]
#my_list[10:]
sum(my_list)

210

In [15]:
#3. Create a dictionary that maps apples, carrots, oranges, and peas (as keys) to the values (categories) fruit and vegetable.

fruits_dict = {'apple':'fruit', 
               'carrot':'vegetable', 
               'orange':'fruit', 
               'pea':'vegetable'}

#b:  Lookup the value of 'apple'
fruits_dict["apple"]

'fruit'

In [348]:
#4.  Challenge for those who have done all this before:

#Extract the hidden message from the following list, putting it into a single string called final_string
#If you still have time, recreate my_list_evens and my_list_odds from final_string

my_list_evens = ['Hello', 'welcome', 'the', 'first', 'training']
my_list_odds = ['and', 'to', 'very', 'Python', 'session']

' '.join([' '.join(i) for i in zip(my_list_evens, my_list_odds)])

final_string = ''
for i in range(len(my_list_evens)):
    final_string += my_list_evens[i] + ' ' + my_list_odds[i] + ' '
final_string = final_string.strip()

my_full_list = my_list_evens + my_list_odds
final_string = ''
for i in range(5):
    final_string = final_string + my_full_list[i] + ' ' + my_full_list[i+5] + ' '
final_string = final_string.strip()

final_string.split(' ')[::2]
final_string.split(' ')[1::2]

['and', 'to', 'very', 'Python', 'session']

###Control statements
#####If statement

In [87]:
import random
draw_from_random_normal = random.normalvariate(0,1)

if draw_from_random_normal == 0:
    print 'The draw was positive'

else:    
    print 'The draw was negative'
    print "hello"

 
#ctrl enter to run this cell multiple times

The draw was negative
hello

In [88]:
draw_from_random_normal = random.normalvariate(0,1)

#This uses string 'templating', whereby we leave a 'blank' in the string and later 'replace' the
#blanks using the format method.

print 'The draw was {}'.format(draw_from_random_normal)


if draw_from_random_normal > 0.5:
    print 'The draw was greater than 0.5'
elif draw_from_random_normal > 0:
    print 'The draw was positive but less than 0.5'
else:
    print 'The draw was negative'

The draw was -0.388566788077
The draw was negative

In [351]:
#Note that in Python that testing for equality (e.g. in an if statement)
#requires a different operator to assignemtn

2=2  #This thows and error because you can't try to change the value of 2 
#(you don't want to assign the value 3 to the integer 2)

SyntaxError: can't assign to literal (<ipython-input-351-8be6f3977a2d>, line 4)

In [352]:
2==3 #This is fine because you're 'asking' python whether 2 is equal to 3

False

#####Loops.  

Note almost all loops in Python are achieved using 'iterators' rather than attempting to access each item of a list

In [353]:
import string

my_list = ['a', 'b', 'c', 'd', 'e']
my_list = list(string.ascii_lowercase[:5]) #Not needed - produces same result as above - just here 
#as a tip of what's built into Python

#This is the standard way to iterate (loop) in Python
for my_item in my_list:
    print my_item

a
b
c
d
e

In [354]:
#There is no such thing as 'for i = 0 to 5' but you can achieve the same thing as follows:
for i in [0,1,2,3,4,5]:
    print i

0
1
2
3
4

In [355]:
#Don't do this unless you have a good reason
my_list = ['a', 'b', 'c', 'd', 'e']
for i in range(0,5):
    print my_list[i]

a
b
c
d
e

In [356]:
#You can also loop over dictionaries
my_dict = {'apple':'fruit',
           'carrot':'vegetable',
           'orange':'fruit', 
           'pea':'vegetable'}

for my_key in my_dict:
    print my_key

orange
carrot
apple
pea

In [357]:
for my_key, my_value in my_dict.iteritems():
    print my_key
    print my_value
    print 'A {} is a {}'.format(my_key, my_value)

orange
fruit
A orange is a fruit
carrot
vegetable
A carrot is a vegetable
apple
fruit
A apple is a fruit
pea
vegetable
A pea is a vegetable

#####Exercises 2

In [358]:
#1.  Write an if statement that checks whether the absolute value (use abs(number) ) 
#of a random number generated using random.normalvariate(0,1) is greater than 1.  

#The statement should print a sensible message

In [359]:
#2.  Write a simple loop that prints each element in the following list: 
my_list = ['Print', 'this', 'list', 'on', 'each', 'line']

In [360]:
#3.  Write a simple loop that, using a dictionary, prints the category for each of the following items:
my_list = ['pea', 'apple', 'orange', 'orange', 'orange', 'pea', 'apple', 'pea']

In [361]:
#4.  Write some code that finds the unique items in the following list.  
#Try this first without using a set
my_list = ['pea', 'apple', 'orange', 'orange', 'orange', 'pea', 'apple', 'pea']

In [362]:
#5.  Challenge: Write a program that counts the number of each item in my_list, 
#and the number in each category (fruit, veg), and stores it in an appropriate data format

import random
my_list = 
[random.choice(['apple', 'carrot', 'pea', 'orange']) for i in range(200)]

from collections import Counter

c_item = Counter()
c_cat = Counter()

[c_item.update([i]) for i in my_list]
[c_cat.update([fruits_dict[i]]) for i in my_list]

{"items": dict(c_item), "cats": dict(c_cat)}

items_dict = {}
for i in my_list:
    if i in items_dict:
        items_dict[i] += 1
    else:
        items_dict[i] = 0
        
cat_dict = {}
for i in my_list:
    cat = fruits_dict[i]
    if cat in cat_dict:
        cat_dict[i] += 1
    else:
        cat_dict[i] = 0        

{"items": items_dict, "cats": cat_dict}

{'cats': {'apple': 0, 'carrot': 0, 'orange': 0, 'pea': 0},
 'items': {'apple': 48, 'carrot': 55, 'orange': 46, 'pea': 47}}

In [2]:
import random
my_list = [random.choice(['apple', 'carrot', 'pea', 'orange']) for i in range(200)]
fruits_dict = {'apple':'fruit', 
               'carrot':'vegetable', 
               'orange':'fruit', 
               'pea':'vegetable'}
from collections import Counter

c_item = Counter()
c_cat = Counter()

[c_item.update([i]) for i in my_list]
[c_cat.update([fruits_dict[i]]) for i in my_list]

{"items": dict(c_item), "cats": dict(c_cat)}

{'cats': {'fruit': 96, 'vegetable': 104},
 'items': {'apple': 53, 'carrot': 55, 'orange': 43, 'pea': 49}}

In [4]:
my_list = [1,2,3]
my_list_2 = [i*2 for i in my_list]
my_list_2

[2, 4, 6]

####Pandas
So far we've been using only 'core Python' - everything we have used
is 'built in' to Python itself.

However most of the statistical functionality of Python is built into 'packages'.
'Packages' are programs which are written in Python by third parties, and
made available for us to use

Pandas (short for Panal Data Analysis) is one such program.

In addition to the data primatives we've already seen, it gives us access to 'dataframes', which are table-like objects.  You can think of it as bringing 'Excel-like' functionality to the Python language, only much more powerful.

In [2]:
import pandas as pd #This is how to import a module

In [3]:
#Reading in a csv file
df = pd.read_csv("trade_data_utf8.csv")
df.head()

,country,country_code,product,product_code,quantity
0,Germany,DE,Motor cars and other motor vehicles principall...,8703,78742192991
1,Belgium,BE,Motor cars and other motor vehicles principall...,8703,24712539381
2,Germany,DE,"Parts and accessories for tractors, motor vehi...",8708,20153724840
3,Spain,ES,Motor cars and other motor vehicles principall...,8703,16420774433
4,Netherlands,NL,Petroleum oils and oils obtained from bitumino...,2710,15773706885

In [4]:
#The head and tail methods allow you to extract/view the start and end of the dataframe
df.tail()

,country,country_code,product,product_code,quantity
995,Italy,IT,"Footwear with outer soles of rubber, plastics,...",6404,257771665
996,Czech Republic,CZ,"Sugar confectionery not containing cocoa, incl...",1704,257412595
997,Italy,IT,"Men's or boys' overcoats, car coats, capes, cl...",6201,257332675
998,Netherlands,NL,Fork-lift trucks; other works trucks fitted wi...,8427,256684979
999,Spain,ES,"Jerseys, pullovers, cardigans, waistcoats and ...",6110,256509885

In [5]:
df.head()

,country,country_code,product,product_code,quantity
0,Germany,DE,Motor cars and other motor vehicles principall...,8703,78742192991
1,Belgium,BE,Motor cars and other motor vehicles principall...,8703,24712539381
2,Germany,DE,"Parts and accessories for tractors, motor vehi...",8708,20153724840
3,Spain,ES,Motor cars and other motor vehicles principall...,8703,16420774433
4,Netherlands,NL,Petroleum oils and oils obtained from bitumino...,2710,15773706885

In [6]:
#Some of the syntax for dataframes is very similar to list syntax
len(df)

1000

In [7]:
df[1:5]

,country,country_code,product,product_code,quantity
1,Belgium,BE,Motor cars and other motor vehicles principall...,8703,24712539381
2,Germany,DE,"Parts and accessories for tractors, motor vehi...",8708,20153724840
3,Spain,ES,Motor cars and other motor vehicles principall...,8703,16420774433
4,Netherlands,NL,Petroleum oils and oils obtained from bitumino...,2710,15773706885

In [8]:
#Selecting columns:

list_of_columns = ['country', 'product']
df[list_of_columns]

            country                                            product
0           Germany  Motor cars and other motor vehicles principall...
1           Belgium  Motor cars and other motor vehicles principall...
2           Germany  Parts and accessories for tractors, motor vehi...
3             Spain  Motor cars and other motor vehicles principall...
4       Netherlands  Petroleum oils and oils obtained from bitumino...
5       Netherlands  Telephone sets, incl. telephones for cellular ...
6            Sweden  Petroleum oils and oils obtained from bitumino...
7       Netherlands       Petroleum gas and other gaseous hydrocarbons
8           Germany  Medicaments consisting of mixed or unmixed pro...
9       Netherlands  Automatic data-processing machines and units t...
10           France  Motor cars and other motor vehicles principall...
11          Belgium  Medicaments consisting of mixed or unmixed pro...
12   Irish Republic  Heterocyclic compounds with nitrogen hetero-at...
13   Irish Republic  Medicaments consisting of mixed or unmixed pro...
14           France  Wine of fresh grapes, incl. fortified wines; g...
15           France  Parts and accessories for tractors, motor vehi...
16          Germany  Human blood; animal blood prepared for therape...
17      Netherlands  Medicaments consisting of mixed or unmixed pro...
18          Belgium  Petroleum oils and oils obtained from bitumino...
19      Netherlands  Printing machinery used for printing by means ...
20          Germany  Automatic data-processing machines and units t...
21           France  Medicaments consisting of mixed or unmixed pro...
22          Germany  Motor vehicles for the transport of goods, inc...
23      Netherlands  Human blood; animal blood prepared for therape...
24          Hungary  Telephone sets, incl. telephones for cellular ...
25           France  Petroleum oils and oils obtained from bitumino...
26          Germany  Parts suitable for use solely or principally w...
27            Italy  Medicaments consisting of mixed or unmixed pro...
28          Germany                                                NaN
29           France                                                NaN
..              ...                                                ...
970          Poland  Safety glass, toughened "tempered", laminated ...
971         Germany                 Builders' ware of plastics, n.e.s.
972          Sweden  Parts suitable for use solely or principally w...
973         Germany  Milk and cream, concentrated or containing add...
974         Austria  Uncoated paper and paperboard, of a kind used ...
975           Spain           Cucumbers and gherkins, fresh or chilled
976         Belgium  Carpets and other textile floor coverings, wov...
977         Romania  Medicaments consisting of mixed or unmixed pro...
978          France  Extracts, essences and concentrates, of coffee...
979     Netherlands  Printed books, brochures and similar printed m...
980           Italy  Instruments and appliances used in medical, su...
981         Germany  Electrical capacitors, fixed, variable or adju...
982     Netherlands  Paper, paperboard, cellulose wadding and webs ...
983         Belgium  Parts and accessories (other than covers, carr...
984         Austria  Medicaments consisting of mixed or unmixed pro...
985         Denmark  Orthopaedic appliances, incl. crutches, surgic...
986           Spain  Silver, incl. silver plated with gold or plati...
987           Spain  Sauce and preparations therefor; mixed condime...
988  Irish Republic  Particle board, oriented strand board "OSB" an...
989         Denmark  Taps, cocks, valves and similar appliances for...
990          France  Synthetic rubber and factice derived from oils...
991           Italy  Articles and equipment for general physical ex...
992           Italy  Unglazed ceramic flags and paving, hearth or w...
993           Spain      Bars, rods and profiles, of aluminium, n.e.s.
994     Netherlands  Cigars, cheroots, cigarillos and cigarettes of...
995           Italy  Footwear with outer soles of rubber, plastics,...
996  Czech Republic  Sugar confectionery not containing cocoa, incl...
997           Italy  Men's or boys' overcoats, car coats, capes, cl...
998     Netherlands  Fork-lift trucks; other works trucks fitted wi...
999           Spain  Jerseys, pullovers, cardigans, waistcoats and ...

[1000 rows x 2 columns]

In [9]:
#A single column is a 'series' rather than a 'dataframe'
df['country'][:2]

0    Germany
1    Belgium
Name: country, dtype: object

In [10]:
#sorting is easy
df.sort('country')[:2]

,country,country_code,product,product_code,quantity
296,Austria,AT,"Motor vehicles for the transport of goods, inc...",8704,854688546
819,Austria,AT,"Furniture and parts thereof, n.e.s. (excl. sea...",9403,318643495

In [11]:
#Multiple columns
df.sort(['country','product']).tail()

,country,country_code,product,product_code,quantity
264,Sweden,SE,"Uncoated kraft paper and paperboard, in rolls ...",4804,956239632
154,Sweden,SE,"Uncoated paper and paperboard, of a kind used ...",4802,1437394112
567,Sweden,SE,Waste and scrap of precious metal or of metal ...,7112,472674382
813,Sweden,SE,Wood pulp obtained by a combination of mechani...,4705,320072579
51,Sweden,SE,"Wood sawn or chipped lengthwise, sliced or pee...",4407,3227097826

In [12]:
#Filtering takes a little bit of time to get your head around
#Essentially you provide a 'mask', which has a true or false for each row.
#The rows corresponding to the 'trues' are kept and the rest are discarded

#let's start with a really simple example

In [13]:
df_simple = pd.DataFrame({'a':[10,20,30]})
df_simple

    a
0  10
1  20
2  30

In [14]:
df_simple[[True, False, True]]

    a
0  10
2  30

In [15]:
#How can we use this in a way that's actually useful?
#Consider the following statement:
df_simple['a'] > 10

0    False
1     True
2     True
Name: a, dtype: bool

In [16]:
#So we can use the result of this as our filter
my_filter = (df_simple['a'] > 10)

In [17]:
df_simple[df_simple['a'] > 10]

    a
1  20
2  30

In [18]:
#We can use multiple filters
filter_1 = (df['country'] == 'Sweden')
filter_2 = (df['product_code'] == 4804)

df[filter_1 & filter_2]

,country,country_code,product,product_code,quantity
264,Sweden,SE,"Uncoated kraft paper and paperboard, in rolls ...",4804,956239632

####Exercises

In [19]:
#1.  Filter the dataframe to contain only records where the country is Germany

In [20]:
#2.  How many rows are there where the country is Germany

In [21]:
#3.   How would you take a random sample of the rows in the table?